







.orders-container {
  max-width: 1100px;
  margin: 20px auto;
  padding: 20px;
  font-family: 'Segoe UI';
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
  color: #222;
}

.btn-add-toggle {
  padding: 10px 14px;
  background: #1976D2;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 15px;
  font-size: 15px;
}

.btn-add-toggle:hover {
  background: #125EA5;
}

.form-card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 8px #ddd;
  margin-bottom: 25px;
}

.form-card form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-card input,
.form-card select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.product-box {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 10px;
  background: #f9f9f9;
  border-radius: 6px;
}

.product-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.product-item img {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  object-fit: cover;
}

.btn-submit {
  background:blue;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-submit:hover {
  background: blue;
}

.orders-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0px 2px 8px #ddd;
}

.orders-table th,
.orders-table td {
  padding: 12px;
  border: 1px solid #eee;
}

.product-images {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.product-image-item {
  display: flex;
  align-items: center;
  gap: 6px;
}

.product-image-item img {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  object-fit: cover;
}

.actions-col {
  display: flex;
  gap: 10px;
}

.btn-edit {
  padding: 7px 12px;
  background: blue;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

.btn-delete {
  padding: 7px 12px;
  background: blue;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

.btn-add-toggle {
    background: linear-gradient(135deg, #6a5af9, #8364ff, #9d72ff);
  padding: 12px 20px;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;

  box-shadow: 0px 6px 0px #4b3bd1;  
  transition: all 0.2s ease;
}
  
.btn-print {
  padding: 6px 12px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
  transition: 0.3s;
}

.btn-print:hover {
  background: #4338ca;
}
