











    
    
.layout {
  display: flex;
  height: 100vh;

}

/* Overlay */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2000;
}


/* Hamburger */
.hamburger {
  position: absolute;
  top: 15px;
  left: 20px;
  width: 32px;
  height: 25px;
  cursor: pointer;
  z-index: 2001;
}

.hamburger span {
  display: block;
  height: 4px;
  background: #000;
  margin: 5px 0;
  border-radius: 5px;
  transition: 0.3s;
}

.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -7px);
}


/* Sidebar */
/* .sidebar {
  width: 220px;
  background-color: #111827;
  color: white;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  transition: 0.3s ease;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1500;
}

.sidebar.hide {
  left: -260px;
} */
.sidebar {
  width: 220px;
    /* background-color: #111827; */
  background-color:  #1e40af;
  color: white;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  transition: transform 0.3s ease;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1500;
  transform: translateX(-260px); /* Default hidden on mobile */
}

.sidebar.show {
  transform: translateX(0);   /* Visible */
}

.side-header {
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
}

.sidebar-logo {
  width: 100px;
  height: 100px;
  object-fit: contain;
  display: block;
  margin: 0 auto 10px auto;
  border-radius: 8px;
}

/* Menu items */
.menu-item {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  padding: 8px 15px;
  margin: 5px 0;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s ease;
  font-size: 16px;
}

.menu-item:hover {
    background: red;
  box-shadow: red;
  /* background: #1e40af;
  box-shadow: 0px 4px 12px rgba(30, 64, 175, 0.6); */
}

.menu-item.active {
  background: red;
  box-shadow: red;
}

.menu-item .icon {
  font-size: 18px;
}

/* Main content */
.main {
  flex: 1;
  padding: 30px;
  margin-left: 260px;
  transition: 0.3s;
}

@media (max-width: 820px) {
  .main {
    margin-left: 0 !important;
  }
}
