.orderlist-container {
  padding: 20px;
}

.title {
  font-size: 30px;
  margin-bottom: 20px;
}

.orderlist-table {
  width: 100%;
  border-collapse: collapse;
}

.orderlist-table th,
.orderlist-table td {
  border: 1px solid #ccc;
  padding: 8px;
}

.order-product-item {
  display: flex;
  gap: 10px;
  align-items: center;
}

.order-product-item img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.actions-col {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.btn-view {
  background: #3498db;
  color: #fff;
  padding: 5px 10px;
  border: none;
}

.btn-del {
  background: red;
  color: white;
  padding: 5px 10px;
  border: none;
}
